# Input data

In [2]:
import pandas as pd
from ucimlrepo import fetch_ucirepo

In [4]:
excel_file = pd.ExcelFile("../data/raw_data/CTG.xls")
sheet_names = excel_file.sheet_names


data = pd.read_excel(excel_file, sheet_name='Data', header=1)
data.head()

,b,e,AC,FM,UC,DL,DS,DP,DR,Unnamed: 9,...,E,AD,DE,LD,FS,SUSP,Unnamed: 42,CLASS,Unnamed: 44,NSP
0,240.0,357.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,NaN,9.0,NaN,2.0
1,5.0,632.0,4.0,0.0,4.0,2.0,0.0,0.0,0.0,NaN,...,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,NaN,6.0,NaN,1.0
2,177.0,779.0,2.0,0.0,5.0,2.0,0.0,0.0,0.0,NaN,...,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,NaN,6.0,NaN,1.0
3,411.0,1192.0,2.0,0.0,6.0,2.0,0.0,0.0,0.0,NaN,...,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,NaN,6.0,NaN,1.0
4,533.0,1147.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,NaN,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,2.0,NaN,1.0

In [5]:
data.columns

Index(['b', 'e', 'AC', 'FM', 'UC', 'DL', 'DS', 'DP', 'DR', 'Unnamed: 9', 'LB',
       'AC.1', 'FM.1', 'UC.1', 'DL.1', 'DS.1', 'DP.1', 'ASTV', 'MSTV', 'ALTV',
       'MLTV', 'Width', 'Min', 'Max', 'Nmax', 'Nzeros', 'Mode', 'Mean',
       'Median', 'Variance', 'Tendency', 'Unnamed: 31', 'A', 'B', 'C', 'D',
       'E', 'AD', 'DE', 'LD', 'FS', 'SUSP', 'Unnamed: 42', 'CLASS',
       'Unnamed: 44', 'NSP'],
      dtype='object')

In [6]:
selected_columns = ['LB', 'AC', 'FM', 'UC', 'DL', 'DS', 'DP', 'ASTV', 'MSTV', 'ALTV', 'MLTV', 'Width', 'Min', 'Max', 'Nmax', 'Nzeros', 'Mode', 'Mean', 'Median', 'Variance', 'Tendency', 'NSP']
data = data[selected_columns]

print(data)

         LB   AC     FM    UC    DL   DS   DP  ASTV  MSTV  ALTV  ...    Min  \
0     120.0  0.0    0.0   0.0   0.0  0.0  0.0  73.0   0.5  43.0  ...   62.0
1     132.0  4.0    0.0   4.0   2.0  0.0  0.0  17.0   2.1   0.0  ...   68.0
2     133.0  2.0    0.0   5.0   2.0  0.0  0.0  16.0   2.1   0.0  ...   68.0
3     134.0  2.0    0.0   6.0   2.0  0.0  0.0  16.0   2.4   0.0  ...   53.0
4     132.0  4.0    0.0   5.0   0.0  0.0  0.0  16.0   2.4   0.0  ...   53.0
...     ...  ...    ...   ...   ...  ...  ...   ...   ...   ...  ...    ...
2124  140.0  1.0    0.0   9.0   0.0  0.0  0.0  78.0   0.4  27.0  ...  103.0
2125  142.0  1.0    1.0   5.0   0.0  0.0  0.0  74.0   0.4  36.0  ...  117.0
2126    NaN  NaN    NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN  ...    NaN
2127    NaN  NaN    NaN   NaN   0.0  0.0  0.0   NaN   NaN   NaN  ...    NaN
2128    NaN  NaN  564.0  23.0  16.0  1.0  4.0  87.0   7.0  91.0  ...    NaN

        Max  Nmax  Nzeros   Mode   Mean  Median  Variance  Tendency  NSP
0     126.0   2.0     0.0  120.0  137.0   121.0      73.0       1.0  2.0
1     198.0   6.0     1.0  141.0  136.0   140.0      12.0       0.0  1.0
2     198.0   5.0     1.0  141.0  135.0   138.0      13.0       0.0  1.0
3     170.0  11.0     0.0  137.0  134.0   137.0      13.0       1.0  1.0
4     170.0   9.0     0.0  137.0  136.0   138.0      11.0       1.0  1.0
...     ...   ...     ...    ...    ...     ...       ...       ...  ...
2124  169.0   6.0     0.0  152.0  147.0   151.0       4.0       1.0  2.0
2125  159.0   2.0     1.0  145.0  143.0   145.0       1.0       0.0  1.0
2126    NaN   NaN     NaN    NaN    NaN     NaN       NaN       NaN  NaN
2127    NaN   NaN     NaN    NaN    NaN     NaN       NaN       NaN  NaN
2128    NaN   NaN     NaN    NaN    NaN     NaN       NaN       NaN  NaN

[2129 rows x 22 columns]

Mô tả sơ bộ về dữ liệu

In [7]:
print("Cấu trúc của dữ liệu:")
print(f"- Số bản ghi (dòng): {data.shape[0]}")
print(f"- Số trường (cột): {data.shape[1]}")
print("- Tên các trường dữ liệu:")
print(data.columns.tolist())
print("\nThông tin kiểu dữ liệu của các cột:")
print(data.dtypes)

Cấu trúc của dữ liệu:
- Số bản ghi (dòng): 2129
- Số trường (cột): 22
- Tên các trường dữ liệu:
['LB', 'AC', 'FM', 'UC', 'DL', 'DS', 'DP', 'ASTV', 'MSTV', 'ALTV', 'MLTV', 'Width', 'Min', 'Max', 'Nmax', 'Nzeros', 'Mode', 'Mean', 'Median', 'Variance', 'Tendency', 'NSP']

Thông tin kiểu dữ liệu của các cột:
LB          float64
AC          float64
FM          float64
UC          float64
DL          float64
DS          float64
DP          float64
ASTV        float64
MSTV        float64
ALTV        float64
MLTV        float64
Width       float64
Min         float64
Max         float64
Nmax        float64
Nzeros      float64
Mode        float64
Mean        float64
Median      float64
Variance    float64
Tendency    float64
NSP         float64
dtype: object

In [8]:
print("\nThống kê mô tả các trường số:")
print(data.describe())

Thống kê mô tả các trường số:
                LB           AC           FM           UC           DL  \
count  2126.000000  2126.000000  2127.000000  2127.000000  2128.000000
mean    133.303857     2.722484     7.503056     3.669017     1.576128
std       9.840844     3.560850    39.030452     2.877148     2.517794
min     106.000000     0.000000     0.000000     0.000000     0.000000
25%     126.000000     0.000000     0.000000     1.000000     0.000000
50%     133.000000     1.000000     0.000000     3.000000     0.000000
75%     140.000000     4.000000     2.000000     5.000000     3.000000
max     160.000000    26.000000   564.000000    23.000000    16.000000

                DS           DP         ASTV         MSTV         ALTV  ...  \
count  2128.000000  2128.000000  2127.000000  2127.000000  2127.000000  ...
mean      0.003759     0.127820    47.008933     1.335449     9.884814  ...
std       0.061213     0.471687    17.210648     0.891543    18.476534  ...
min       0.000000     0.000000    12.000000     0.200000     0.000000  ...
25%       0.000000     0.000000    32.000000     0.700000     0.000000  ...
50%       0.000000     0.000000    49.000000     1.200000     0.000000  ...
75%       0.000000     0.000000    61.000000     1.700000    11.000000  ...
max       1.000000     4.000000    87.000000     7.000000    91.000000  ...

               Min          Max         Nmax       Nzeros         Mode  \
count  2126.000000  2126.000000  2126.000000  2126.000000  2126.000000
mean     93.579492   164.025400     4.068203     0.323612   137.452023
std      29.560212    17.944183     2.949386     0.706059    16.381289
min      50.000000   122.000000     0.000000     0.000000    60.000000
25%      67.000000   152.000000     2.000000     0.000000   129.000000
50%      93.000000   162.000000     3.000000     0.000000   139.000000
75%     120.000000   174.000000     6.000000     0.000000   148.000000
max     159.000000   238.000000    18.000000    10.000000   187.000000

              Mean       Median     Variance     Tendency          NSP
count  2126.000000  2126.000000  2126.000000  2126.000000  2126.000000
mean    134.610536   138.090310    18.808090     0.320320     1.304327
std      15.593596    14.466589    28.977636     0.610829     0.614377
min      73.000000    77.000000     0.000000    -1.000000     1.000000
25%     125.000000   129.000000     2.000000     0.000000     1.000000
50%     136.000000   139.000000     7.000000     0.000000     1.000000
75%     145.000000   148.000000    24.000000     1.000000     1.000000
max     182.000000   186.000000   269.000000     1.000000     3.000000

[8 rows x 22 columns]

Chuẩn hóa dữ liệu thông qua xử lý dữ liệu lỗi (thiếu trường, sai định dạng dữ liệu, giá trị không hợp lệ ...)

In [9]:
#kiểm tra các giá trị thiếu
print("==> Các giá trị thiếu:")
print(data.isnull().sum())

==> Các giá trị thiếu:
LB          3
AC          3
FM          2
UC          2
DL          1
DS          1
DP          1
ASTV        2
MSTV        2
ALTV        2
MLTV        2
Width       3
Min         3
Max         3
Nmax        3
Nzeros      3
Mode        3
Mean        3
Median      3
Variance    3
Tendency    3
NSP         3
dtype: int64

In [10]:
# In ra các dòng có giá trị thiếu
print("\n==> Các dòng có giá trị thiếu:")
print(data[data.isnull().any(axis=1)])

==> Các dòng có giá trị thiếu:
      LB  AC     FM    UC    DL   DS   DP  ASTV  MSTV  ALTV  ...  Min  Max  \
2126 NaN NaN    NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN  ...  NaN  NaN
2127 NaN NaN    NaN   NaN   0.0  0.0  0.0   NaN   NaN   NaN  ...  NaN  NaN
2128 NaN NaN  564.0  23.0  16.0  1.0  4.0  87.0   7.0  91.0  ...  NaN  NaN

      Nmax  Nzeros  Mode  Mean  Median  Variance  Tendency  NSP
2126   NaN     NaN   NaN   NaN     NaN       NaN       NaN  NaN
2127   NaN     NaN   NaN   NaN     NaN       NaN       NaN  NaN
2128   NaN     NaN   NaN   NaN     NaN       NaN       NaN  NaN

[3 rows x 22 columns]

Xóa các dòng thiếu vì chỉ có 3 dòng dữ liệu có giá trị thiếu (0.0014%), và có khá nhiều trường có giá trị thiếu.

In [11]:
data.dropna(inplace=True)

In [12]:
null_counts = data.isnull().sum()

print(null_counts)

LB          0
AC          0
FM          0
UC          0
DL          0
DS          0
DP          0
ASTV        0
MSTV        0
ALTV        0
MLTV        0
Width       0
Min         0
Max         0
Nmax        0
Nzeros      0
Mode        0
Mean        0
Median      0
Variance    0
Tendency    0
NSP         0
dtype: int64

Kiểm tra tỉ lệ giữa các class

In [13]:
class_counts = data['NSP'].value_counts()

class_counts

NSP
1.0    1655
2.0     295
3.0     176
Name: count, dtype: int64

In [14]:
class_dist = data['NSP'].value_counts(normalize=True).mul(100).round(2)
print("Phân phối lớp ban đầu:")
print(class_dist)

Phân phối lớp ban đầu:
NSP
1.0    77.85
2.0    13.88
3.0     8.28
Name: proportion, dtype: float64

Chia tập X và y

In [15]:
X = data.drop(['NSP'], axis=1)
y = data['NSP']
print(X.head)

<bound method NDFrame.head of          LB   AC   FM   UC   DL   DS   DP  ASTV  MSTV  ALTV  ...  Width  \
0     120.0  0.0  0.0  0.0  0.0  0.0  0.0  73.0   0.5  43.0  ...   64.0
1     132.0  4.0  0.0  4.0  2.0  0.0  0.0  17.0   2.1   0.0  ...  130.0
2     133.0  2.0  0.0  5.0  2.0  0.0  0.0  16.0   2.1   0.0  ...  130.0
3     134.0  2.0  0.0  6.0  2.0  0.0  0.0  16.0   2.4   0.0  ...  117.0
4     132.0  4.0  0.0  5.0  0.0  0.0  0.0  16.0   2.4   0.0  ...  117.0
...     ...  ...  ...  ...  ...  ...  ...   ...   ...   ...  ...    ...
2121  140.0  0.0  0.0  6.0  0.0  0.0  0.0  79.0   0.2  25.0  ...   40.0
2122  140.0  1.0  0.0  9.0  0.0  0.0  0.0  78.0   0.4  22.0  ...   66.0
2123  140.0  1.0  0.0  7.0  0.0  0.0  0.0  79.0   0.4  20.0  ...   67.0
2124  140.0  1.0  0.0  9.0  0.0  0.0  0.0  78.0   0.4  27.0  ...   66.0
2125  142.0  1.0  1.0  5.0  0.0  0.0  0.0  74.0   0.4  36.0  ...   42.0

        Min    Max  Nmax  Nzeros   Mode   Mean  Median  Variance  Tendency
0      62.0  126.0   2.0     0.0  120.0  137.0   121.0      73.0       1.0
1      68.0  198.0   6.0     1.0  141.0  136.0   140.0      12.0       0.0
2      68.0  198.0   5.0     1.0  141.0  135.0   138.0      13.0       0.0
3      53.0  170.0  11.0     0.0  137.0  134.0   137.0      13.0       1.0
4      53.0  170.0   9.0     0.0  137.0  136.0   138.0      11.0       1.0
...     ...    ...   ...     ...    ...    ...     ...       ...       ...
2121  137.0  177.0   4.0     0.0  153.0  150.0   152.0       2.0       0.0
2122  103.0  169.0   6.0     0.0  152.0  148.0   151.0       3.0       1.0
2123  103.0  170.0   5.0     0.0  153.0  148.0   152.0       4.0       1.0
2124  103.0  169.0   6.0     0.0  152.0  147.0   151.0       4.0       1.0
2125  117.0  159.0   2.0     1.0  145.0  143.0   145.0       1.0       0.0

[2126 rows x 21 columns]>